.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-geist-sans);
    background-color: var(--black);
}

.movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 25px;
    background-color: var(--black);
    color: var(--white);
}

@media (max-width: 1200px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .movies {
        grid-template-columns: 1fr;
    }
}

.centeredMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    font-family: var(--font-geist-sans);
    background: var(--darkred-to-white-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.spinner {
    width: 40px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: var(--dark-red);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}