.favoriteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;

    &:hover {
        color: var(--dark-red);
    }

    &.active {
        color: var(--dark-red);
    }
}

.icon {
    font-size: 1.4rem;
    margin-right: 5px;
    border: var(--red) 0.1px solid;
    border-radius: 50%;
    padding: 5px;

    .active & {
        border-color: var(--dark-red);
    } 
}