.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
    background-color: var(--black);
    color: var(--white);
}

@media (max-width: 1200px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .movies {
        grid-template-columns: 1fr;
    }
}