.navbar {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: var(--black);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 20px;
    gap: 40px;
}

.logo {
    background: var(--darkred-to-white-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    gap: 40px;

    a {
        position: relative;
        font-weight: 500;
        transition: color 0.3s ease;
        padding: 5px 0;

        &:hover, &.active {
            transform: scale(1.1);
            color: var(--dark-red);
        }
        

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--dark-red);
            transition: width 0.3s ease;
        }

        &:hover::after, &.active::after {
            width: 100%;
        }
        }
}

.searchWrapper {
    margin-left: auto;
}