.searchContainer {
    position: relative;
    display: flex;
    height: 40px;
    border-radius: 18px;
    background-color: var(--bright-gray);
    overflow: hidden;
}

.searchInput {
    width: 100%;
    background-color: var(--bright-gray);
    color: black;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 8px 50px 8px 15px;
    font-size: 14px;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background-color: var(--dark-gray);
    border: none;
    cursor: pointer;
    color: white;
}

.searchButton:hover {
    background-color: var(--dark-red);
}

@media (max-width: 480px) {
    .searchInput {
        padding-right: 28px;
    }

    .searchButton {
        right: 2px;
    }
}