.searchContainer {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 18px;
    background-color: var(--gray);
    overflow: hidden;
}

.searchInput {
    height: 100%;
    padding: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    font-size: 14px;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    color: white;
}

.searchButton:hover {
    background-color: var(--dark-red);
}