.starRating {
    display: inline-flex;
    align-items: center;
}

.filledStar {
    color: var(--gold);
    font-size: 19px;
}

.emptyStar {
    color: var(--bright-gray);
    font-size: 19px;
}

.numericRating {
    margin-left: 5px;
    color: var(--dark-gray);
}